
.sidebar{
    width: 12%;
    background-color: #363740;

    padding: 3% 3%;
   display: block;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.line{
    margin: 6% 0 90% 0;
    border: 0.2px solid #DFE0EB;
}
.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}